
<!DOCTYPE html>
<body>
<h2>All users: </h2>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Country</th>
    </tr>
    <tr th:each="user : ${userList}">

        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.country}"/>
        <td>
            <form action="/spring_hibernate_Web_exploded/delete-user">
                <input type="hidden" name="id"   th:value=${user.id} />
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="/spring_hibernate_Web_exploded/updateInfo">
                <input type="hidden" name="id"   th:value=${user.id} />
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
</table>

<form action="/spring_hibernate_Web_exploded/new-user">
    <button type="submit">Add new user</button>
</form>

</body>
</html>